<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Frontenac.Redis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Frontenac.BlueRed.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Frontenac.BlueRed.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Frontenac.Redis.Properties.Settings>
            <setting name="InstanceName" serializeAs="String">
                <value>Redis</value>
            </setting>
        </Frontenac.Redis.Properties.Settings>
        <Frontenac.BlueRed.Properties.Settings>
            <setting name="InstanceName" serializeAs="String">
                <value>BlueRed</value>
            </setting>
        </Frontenac.BlueRed.Properties.Settings>
        <Frontenac.BlueRed.Settings>
            <setting name="InstanceName" serializeAs="String">
                <value/>
            </setting>
        </Frontenac.BlueRed.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
